.data {
    width: 100%;
    height: 520px;
    display: flex;
    font-family: 'Chelsea Market';
}
.left_part {
    width: 45%;
    height: 100%;
    display: inline-block;
    margin-right: 10%;

    border: solid #FF974B;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: white;
    opacity: 90%;
}
.right_part {
    width: 45%;
    height: 100%;
    display: inline-block;

    border: solid #FF974B;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    background: white;
    opacity: 90%;
}

.formula {
    margin: 20px 50px;
    width: 500px;
    height: 100px;

    background: #FF974B;
    border-radius: 50px;
}
.formula span {
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 90px;
    
    margin-left: 95px;
    color: #fff;
}

.form {
    height: 70%;
    width: 100%;

    margin-left: 50px;
    /* border: 4px solid #000; */
}
.scale {
    margin-top: 30px;
    margin-bottom: 30px;
}
.scale-text {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 90%;
    /* identical to box height, or 54px */
    color: #fff;

    text-shadow: 1px 1px 4px #000;
}

input[type=range]  {
    width: 200px;
    margin-top: 30px;
    -webkit-appearance: none;
    appearance: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background-color: #FF974B;
  }
  input[type=range]::-webkit-slider-thumb {
    background: #FF974B;
    border-radius: 50%;
    cursor: pointer;
    width:25px;
    height: 25px;
    -webkit-appearance: none;
    margin-top: -10px;
  }
.number-zero {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    font-size: 20px;
    
    margin-right: 160px;
}

.number-hundred {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    font-size: 20px;
}
.complex_number {
    margin-bottom: 20px;
}
.comple-number_const {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;

    text-shadow: 1px 1px 4px #000;
}

input[type=number]  {
    width: 60px;
    height: 50px;
    align-items: center;
    border: 1px solid #000;
    background: #E6E6E6;
    border-radius: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;

    text-shadow: 1px 1px 4px #000;
}
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=text]  {
    width: 60px;
    height: 50px;
    align-items: center;
    border: 1px solid #000;
    background: #E6E6E6;
    border-radius: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;

    text-shadow: 1px 1px 4px #000;
}

.Nav_home {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}
.Nav_fractals {
    color: #FF974B;
    text-shadow: 1px 1px 4px #000;
}
.Nav_colors {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}
.Nav_move {
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.Choose_color span {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    display: inline-block;
    position: absolute;
    left: 55px;
    top: 440px;


    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.Color {
    display: inline-block;
    margin-left: 130px;
}

label {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;

 }
  
  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    cursor: inherit;
}
  
.circle {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: inherit;
}
  

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 2px;    
}
  
input[type="color"]::-webkit-color-swatch {
    border: none;  
    border-radius: 50%;
}

button{
    width: 120px;
    height: 50px;

    margin-top: 5px;
    margin-left: 480px;

    color: #fff;
    font-size: 30px;

    background: #FF974B;
    border: 3px solid #FFBD8C;
    border-radius: 20px;
}


#jset_canvas {
    position: absolute;
    left: 58%;
    top: 10%;
    z-index: 0;
    padding: 0px;
    margin: 0px;

    width:640px; 
    height:480px;

    display: inline-block;
  }
  
  .scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale canvas {
    transition: 15s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .scale canvas:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
