@font-face {
    font-family: 'Chelsea Market';
    src: url('ChelseaMarket-Regular.woff2') format('woff2'),
        url('ChelseaMarket-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

